<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVneY8a30-yv3rwEsckt73XZjtOP40_5s</string>
	<key>GCM_SENDER_ID</key>
	<string>604750917563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.arcom.autorizaios</string>
	<key>PROJECT_ID</key>
	<string>push-notification-arcomtemas</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-arcomtemas.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604750917563:ios:d5f1e35840f41fb3fede9e</string>
</dict>
</plist>